.home-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 45px);
}
.home-main__info{
    display: none;
    height: 100%;

    background-color: white;
}
.home-main__info .basic-info{
    display: none;
}
.home-main__map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.home-main__map--basic-info-container{
    display: none;
}
.mapboxgl-map{
    position: static;
}
.mapboxgl-canvas{
    position: relative;
}

@media screen and (min-width: 750px){
    .home-main{
        position: relative;
        height: calc(100% - 55px);
    }
    .home-main__info{
        display: flex;
    }
    .home-main__map{
        position: relative;
    }
    .home-main__map--basic-info-container{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        z-index: 1;
    }
}

@media screen and (min-width: 1000px){
    .home-main{
        height: calc(100% - 67px);
    }
}