.error404-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}
.error404-container img{
    margin-bottom: 30px;
}
.return-btn{
    padding: 9px;
    border-radius: 15px;
    font-family: var(--mainFont);
    background-color: var(--contrastColor);
}