.weather-main{
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 45px);
    padding-bottom: 30px;
    overflow: hidden;
}
.details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dayly-forecast-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}