.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
    padding: 9px 0;
    overflow-x: scroll;

    font-family: var(--mainFont);
    font-size: 1.4rem;
}
.recharts-wrapper{
    left: 230px;
}