.detail-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 95px;
    height: 95px;
    padding: 9px;

    border-radius: 15px;
    background-color: var(--contrastOne);
    color: white;
}
.detail-card > img{
    width: 30px;
    height: 30px;
}
.detail-card > h3{
    font-family: var(--thirdFont);
    font-weight: 400;
    font-size: 1.3rem;
}
.detail-card > h2{
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 1.2rem;
}