.layers-list{
    width: 130px;
    height: 200px;
    padding: 12px;
    background-color: rgba(255,255,255,0.7);
    float: right;
    margin-right: 10px;
    transform: translateY(17px);
    line-height: 3rem;
    pointer-events: auto;
}
.list-item{
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
}
.list-item:hover{
    color: var(--contrastOne);
}
.hide{
    width: 0px;
    height: 0px;
    overflow: hidden;
}

@media screen and (min-width: 750px){
    .layers-list{
        width: 160px;
        height: 220px;
    }
    .list-item{
        font-size: 1.7rem;
        line-height: 3.2rem;
    }
}