.layer-control-container, .layer-menu{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px 10px 0;
    border: 0px solid transparent;
    background: rgba(255,255,255,0.9);
    float: right;
    clear: both;
    pointer-events: auto;
}

.layer-control-container{
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    text-shadow: 0px 0px 0px transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/icons/layers.svg");
}
.layer-menu{
    flex-direction: column;
    justify-content: flex-start;
    padding: 3px 15px;
    width: auto;
    height: auto;
    border-radius: 4px 4px 30px 30px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    background-image: none;
}
.close-button{
    /* width: 80% */
    position: relative;
    width: 120px; 
    height: 50px;
    background-color: white;
    border-radius: 4px;

    background-position: left;
    background-repeat: no-repeat;
    background-image: url("../../assets/icons/fastForward.svg");
}
.layer-control-container:focus{
    outline: 0;
}
.layer-control-container:active{
    outline: none;
    border: none;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact{
    display: none;
}
.list{
    width: 100%;
    list-style: none;
    text-align: left;
    font-family: var(--mainFont);
    font-size: 1.4rem;
    font-weight: 500;
}
.list li{
    margin: 6px;
    padding: 6px;
}
.hide{
    width: 0;
    height: 0;
}

@media screen and (min-width: 750px){
    .layer-control-container{
        width: 50px;
        height: 50px;
        padding: 9px;
    }
    .layer-menu{
        width: auto;
        height: auto;
    }
    .list{
        font-size: 1.8rem;
    }
    .list li{
        padding: 9px;
    }
}