.layer-control-container, .layer-menu{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px 20px 0;
    border: 0px solid transparent;
    float: right;
    clear: both;
    pointer-events: auto;
    z-index: 2;
}

.layer-control-container{
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    text-shadow: 0px 0px 0px transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/icons/layers.svg");
}
.layer-menu{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3px 15px;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    background-color: white;
    background-image: none;
}
.close-button{
    position: relative;
    width: 50px;
    height: 45px;
    /* left: 10px; */
    background-color: white;
    border-radius: 4px;

    background-position: left;
    background-repeat: no-repeat;
    background-image: url("../../assets/icons/fastForward.svg");
}
.layer-control-container:focus{
    outline: 0;
}
.layer-control-container:active{
    outline: none;
    border: none;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact{
    display: none;
}
.hide{
    width: 0;
    height: 0;
    overflow: hidden;
}
.mapboxgl-ctrl-logo{
    opacity: 0;
}

@media screen and (min-width: 750px){
    .layer-control-container{
        width: 60px;
        height: 60px;
        padding: 9px;
    }
    .layer-menu{
        width: 160px;
        height: 48px;
        padding: 0 12px;
    }
}